@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Navbar CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.7rem;
   background-color: rgb(222, 159, 59);
   position: fixed;
   top: 0;
   width: 100%;
   box-shadow: 0 0 20px rgba(72,98,85, 0.6);
}

.logo{
   width: 4rem;
   height: 5rem;
}

.link_logo { 
   margin-right: 40rem;
}

.navbar_items{
   list-style: none;
}

.navbar_item{
   display: inline-block;
   padding: 0px 20px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}

.navbar_link,
.navbar_link:link,
.navbar_link:visited{
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 1rem;
   color: #edf0f1;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
}

.navbar_link:hover{
   color: black;
   transform: scale(1.2);
} 

.sign_up, 
.log_in{
   margin-left: 20px;
   padding: 9px 25px;
   background-color: rgba(0, 136, 169, 1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}


.log_in:hover, .sign_up:hover{
   background-color: rgba(0, 136, 169, 0.8);
}

/* End of Navbar CSS */

/* Contact Us CSS*/

body{
    background-color: beige;
    background-size: cover;
    height: auto;
    font-family: "Montserrat", sans-serif;;
}
  
  
.container{
    max-width: 649px;
    height: 500px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    margin-top: 10.5rem;
}
  
p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #DC7633;
}



.input{
    width: 25rem;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.flex-1,
.flex-2,
.flex-3,
.flex-4{
    display: flex;
    padding: 1rem;
    align-items: baseline;
}


.pw, 
.uname{
    padding: 1rem;
    width: 118px;
}

.forgotten{
    padding: 1rem;
}
  
.btn{
    width: 250px;
    background-color: rgba(0, 136, 169, 1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
  
.input:focus{
    border: 2px solid #486255;
}
  
::-webkit-input-placeholder{
    font-family: 'Montserrat', sans-serif;
}
  