@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Navbar CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    z-index: 100;
  background-color: rgb(222, 159, 59);
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  width: 100vw;
  margin: 0 auto;
  height: 7em;
  overflow: hidden;
  top: 0;
  position: sticky;
  }
  
  
  

.logo{
    width: 4rem;
    height: 5rem;
    position: fixed;
    left: 5.313em;
    display: inline-block;
  }
  
  .link_logo { 
    margin-right: 40rem;
    display: inline-block;
    overflow: auto;
  }
  
  @media screen and (max-width: 850px) {
    .logo{
        display: none;
     }
     .link_logo{
         display: none;
     }
  } 
  
  .navbar_items{
   list-style: none;
   display: inline-block;
   position: fixed;
   right: 20.875em;
   top: 2.5em;
   white-space: nowrap;
  
  }
  
  .navbar_item{
   font-family: "Montserrat", sans-serif;
   padding: 0px 20px;
   font-weight: 500;
   font-size: 1em;
   color: #edf0f1;
   text-decoration: none;
   display: inline-block;
   overflow: hidden;
  }
  
  .navbar_link,
  .navbar_link:link,
  .navbar_link:visited{
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 1em;
   color: #edf0f1;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
  }
  
  .navbar_link:hover{
   color: black;
   transform: scale(1.2);
  } 
  
  
  .sign_up {
  margin-left: 1.250em;
  padding: 0.563em 1.563em;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #edf0f1;
  text-decoration: none;
  white-space: nowrap;
  position: fixed;
  right: 5.250em;
  top: 2em;
  overflow: hidden;
  }
  
  .log_in {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  position: fixed;
  right: 13.625em;
  top: 2em;
  overflow: hidden;
  }
  
  .log_in:hover, .sign_up:hover{
   background-color: rgba(0, 136, 169, 0.8);
  }
  
  
  /* End of Navabar CSS*/

/* Log In CSS*/

body{
    background-color: beige;
    background-size: cover;
    height: auto;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
  
  
.container{
    max-width: 649px;
    height: 490px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    margin-top: 7em;
}
  
p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #DC7633;
}



.input{
    width: 25rem;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}

.flex-box{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.flex-1,
.flex-2,
.flex-3,
.flex-4{
    display: flex;
    padding: 1rem;
    align-items: baseline;
}


.pw, 
.uname{
    padding: 1rem;
    width: 118px;
}

.forgotten{
    padding: 1rem;
}
  
.btn{
    width: 250px;
    background-color: rgba(0, 136, 169, 1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.flex-4 a:link, a:visited {
  text-decoration: none;
}

.btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
  
.input:focus{
    border: 2px solid #486255;
}
  
::-webkit-input-placeholder{
    font-family: 'Montserrat', sans-serif;
}
  