@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Navbar CSS */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.navbar {
   z-index: 100;
 background-color: rgb(222, 159, 59);
 box-shadow: 0 0 20px rgba(72,98,85, 0.6);
 width: 100vw;
 margin: 0 auto;
 height: 7em;
 overflow: hidden;
 top: 0;
 position: sticky;
}




.logo{
   width: 4rem;
   height: 5rem;
   position: fixed;
   left: 5.313em;
   display: inline-block;
}

.link_logo { 
   margin-right: 40rem;
   display: inline-block;
   overflow: auto;
}

@media screen and (max-width: 850px) {
   .logo{
       display: none;
    }
    .link_logo{
        display: none;
    }
} 

.navbar_items{
  list-style: none;
  display: inline-block;
  position: fixed;
  right: 20.875em;
  top: 2.5em;
  white-space: nowrap;

}

.navbar_item{
  font-family: "Montserrat", sans-serif;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 1em;
  color: #edf0f1;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}

.navbar_link,
.navbar_link:link,
.navbar_link:visited{
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.navbar_link:hover{
  color: black;
  transform: scale(1.2);
} 


.sign_up {
 margin-left: 1.250em;
 padding: 0.563em 1.563em;
 background-color: rgba(0, 136, 169, 1);
 border: none;
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease 0s;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 1em;
 color: #edf0f1;
 text-decoration: none;
 white-space: nowrap;
 position: fixed;
 right: 5.250em;
 top: 2em;
 overflow: hidden;
}

.log_in {
 margin-left: 20px;
 padding: 9px 25px;
 background-color: rgba(0, 136, 169, 1);
 border: none;
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease 0s;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 16px;
 color: #edf0f1;
 text-decoration: none;
 position: fixed;
 right: 13.625em;
 top: 2em;
 overflow: hidden;
}

.log_in:hover, .sign_up:hover{
  background-color: rgba(0, 136, 169, 0.8);
}


/* End of Navabar CSS*/

/* Sidebar CSS */

.body_rules{
   background-color: #f3f5f9;
   overflow-x: hidden;
}
 
.wrapper{
   display: flex;
   position: relative;
}
 
.wrapper .sidebar{
   width: 200px;
   height: 100%;
   background: rgb(222, 159, 59);
   padding: 30px 0px;
   position: fixed;
   overflow: scroll;
}
 
.wrapper .sidebar h2{
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 30px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 30px;
}
 
.wrapper .sidebar ul li{
   padding: 15px;
   border-bottom: 1px solid #fff;
   border-bottom: 1px solid rgba(0,0,0,0.05);
   border-top: 1px solid rgba(255,255,255,0.05);
}    
 
.wrapper .sidebar ul li a{
   color: #fff;
   display: block;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   text-decoration: none;
   cursor: pointer;
}
 
.wrapper .sidebar ul li a .fas{
   width: 95px;
}
 
.wrapper .sidebar ul li:hover{
   background-color: #DC7633;
}


.wrapper .sidebar ul li:hover a{
    color: #bdb8d7;
}

.wrapper .main_content{
   width: 100%;
   margin-left: 200px;
}

.main_content{
   overflow-x: scroll;
}

.wrapper .main_content .header{
   padding: 20px;
   background: #fff;
   color: #717171;
   border-bottom: 1px solid #e0e4e8;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 2rem;
}

.wrapper .main_content .info{
   margin: 20px;
   color: #717171;
   line-height: 25px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
}

/* End of Sidebar CSS */

/* Tha General Rules */

.texto_generalrules{
    padding: 1rem;
 }
 
 .texto_generalrules strong{
    color: black;
 }

.tabla_territorios{
   width: 60em;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}
.tabla_territorios th{ 
   border: 1px solid black;
}
.tabla_territorios td{ 
   border: 1px solid black;
   padding: 1rem;
}

.tabla_recursos{
   width: 50rem;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}

.tabla_recursos th{
   border: 1px solid black;
}

.tabla_recursos td{
   border: 1px solid black;
   padding: 1rem;
}

.tabla_recursos2{
    width: 20rem;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
 }
 
 .tabla_recursos2 th{
    border: 1px solid black;
 }
 
 .tabla_recursos2 td{
    border: 1px solid black;
    padding: 1rem;
 }

 .tabla_recursos3{
    width: 20rem;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
 }
 
 .tabla_recursos3 th{
    border: 1px solid black;
 }
 
 .tabla_recursos3 td{
    border: 1px solid black;
    padding: 1rem;
 }

 .tabla_recursos4{
    width: 20rem;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
 }
 
 .tabla_recursos4 th{
    border: 1px solid black;
 }
 
 .tabla_recursos4 td{
    border: 1px solid black;
    padding: 1rem;
 }

 .tabla_recursos5{
    width: 50rem;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
 }
 
 .tabla_recursos5 th{
    border: 1px solid black;
 }
 
 .tabla_recursos5 td{
    border: 1px solid black;
    padding: 1rem;
 }
 
 .lista_spec{
     padding: 1rem;
     margin-left: 2rem;
 }
 
 .lista_spec strong{
     color: black;
 }

 .list_objectives{
    padding: 1rem;
    margin-left: 1rem;
 }