@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: #616A6B;
  }

.logo{
    width: 4rem;
    height: 5rem;
}

.link_logo { 
    margin-right: 500px;
}

.navbar_items{
    list-style: none;
}

.navbar_item{
    display: inline-block;
    padding: 0px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar_link,
.navbar_link:link,
.navbar_link:visited{
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.navbar_link:hover{
    color: #0088a9;
    transform: scale(1.2);
} 

.sign_up, 
.log_in{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.log_in:hover, .sign_up:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
