@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Navbar CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    z-index: 100;
  background-color: rgb(222, 159, 59);
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  width: 100vw;
  min-width: 1100px;
  margin: 0 auto;
  height: 7em;
  overflow: hidden;
  top: 0;
  position: sticky;
  }
  
  
  
  /* OPTION 3 */
  /* move default logo position to left and hide it when window size is less than 886px */
  /* uncomment .logo and .link_logo ^^up there and use the ones down here */
   .logo{
    width: 4rem;
    height: 5rem;
    position: fixed;
    left: 5.313em;
    display: inline-block;
  }
  
  .link_logo { 
    margin-right: 40rem;
    display: inline-block;
    overflow: auto;
  }
  
  @media screen and (max-width: 880px) {
    .logo{
        display: none;
     }
     .link_logo{
         display: none;
     }
  } 
  
  .navbar_items{
   list-style: none;
   display: inline-block;
   position: fixed;
   right: 10.875em;
   top: 2.5em;
   white-space: nowrap;

  }
  
  .navbar_item{
   font-family: "Montserrat", sans-serif;
   padding: 0px 20px;
   font-weight: 500;
   font-size: 1em;
   color: #edf0f1;
   text-decoration: none;
   display: inline-block;
   overflow: hidden;
  }
  
  .navbar_link,
  .navbar_link:link,
  .navbar_link:visited{
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 1em;
   color: #edf0f1;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
  }
  
  .navbar_link:hover{
   color: black;
   transform: scale(1.2);
  } 
  
.log_out {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  position: fixed;
  right: 3.625em;
  top: 2em;
  overflow: hidden;
  }
  
  .log_out:hover{
   background-color: rgba(0, 136, 169, 0.8);
  }
  
  
  /* End of Navabar CSS*/

/* Contact Us CSS*/

body{
   background-color: beige;
   background-size: cover;
   height: auto;
   font-family: "Montserrat", sans-serif;  
 }

.ejercito {
   border-radius: 5px;
   min-width: 600px;
   max-width: 800px;
   height: 900px;
   background: #fff;
   margin: 50px auto;
   box-shadow: 0 0 20px rgba(72,98,85, 0.6);
   box-sizing: border-box;
   padding: 40px;
   margin-top: 6em;

   }

p{
   text-align: center;
   letter-spacing: 1px;  
   font-size: 45px;
   margin-bottom: 20px;
   color: #486255;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 3.5rem;
   color: #DC7633;
   }

.button{
   width: 350px;
   background-color: rgba(0, 136, 169, 1);
   height: 100px;
   line-height: 100px;
   text-align: center;
   border-radius: 50px;
   margin: 0 auto;
   color: #fff;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
}
.button:hover{
   background-color: rgba(0, 136, 169, 0.8);
}

table.table2 {
  border-collapse: separate;
  border-spacing: 10px 10px;
  height: 100px;
}

table.table2 th {
  height: 100px;
  width: 100px;
  text-decoration: underline;
  border-radius: 5px;
  background-color:rgb(222, 159, 59);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

table.table2 td {
  height: 100px;
  min-width: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}


#slider {
   margin: 0 auto;
   margin-top: 2%;
   margin-bottom: 2%;
   width: 80%;
   min-width: 600px;
   text-align: center;
   justify-content: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
   border-radius: 5px;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
   width: 100%;
   border-radius: 5px;
}
#overflow {
   width: 100%;
   overflow: hidden;
   border-radius: 5px;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 650px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: rgb(224, 181, 112);
}
#slides .slide_2 {
   background: rgb(224, 181, 112);
}
#slides .slide_3 {
   background: rgb(224, 181, 112);
}
#slides .slide_4 {
   background: rgb(224, 181, 112);
}
#controls {
   margin: -400px 0 0 -50px;
   width: 115%;
   z-index: 3;
   position: relative;
   justify-content: center;
   align-items: center;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 100px;
   height: 100px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}