<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | Contact Us</title>    
        <nav loadhtml="nav" class="navbar"></nav>
    </head>
    <body id="contactpage">
        <div class="container">
            <p>Contact Us</p>
            
            <div class="login">
              <input type="text" placeholder="Your Name" class="input">
              <input type="text" placeholder="Your Email Address" class="input">
            </div>
            
            <div class="subject">
              <input type="text" placeholder="Subject" class="input">
            </div>
            
            <div class="msg">
              <textarea  class="area" placeholder="Leave a Message"></textarea>
            </div>
            
            <div class="btn">Send Message</div>
          </div>
        </div>  
        <script src="../assets/js/module.js"></script>      
    </body>
</html>