<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | End Game</title>    
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="gameendedpage">
        <div class="container">
            <p>Results</p>
            <div class="flex-box">
                <div class="flex-1">
                    <div>1º Lugar:</div>
                    <div id='winner'></div>
                </div>
                <div class="flex-2">
                    <div>2º Lugar:</div>
                    <div id='second'></div>
                </div>
                <div class="flex-2">
                    <div>3º Lugar:</div>
                    <div id='third'></div>
                </div>
                <div class="flex-2">
                    <div>4º Lugar:</div>
                    <div id='fourth'></div>
                </div>
                <div class="flex-4">
                    <a href="start_playing.html"><button class="btn">Play Again!</button></a>
                </div>  
            </div>
        </div>     
        <script src="../assets/js/module.js"></script>
        <script src="../assets/js/game_ended.js"></script>
    </body>
</html>