<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png" >
        <title>Katak</title>    
        
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="indexlogedpage">
        <h1 class="texto-bienvenida"> Bienvenido a Katak! </h1>
        <img class= "background-image" src="../assets/imgs/Logo Negro.png" alt="logo">
        <script src="../assets/js/module.js"></script>
    </body>
</html>