<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | Join Game</title>    
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="joingamepage">
        <div class="container">
            <p>Join Existing Game Session</p>
            
            <div class="flex-box">
                <div class="flex-1">
                    <label for="gcode" class="gcode">Enter Code:</label>
                    <input type="text" placeholder="Joining Session Code" class="input">
                </div>
                <div class="flex-2">
                    <a href="map.html">
                        <div type="submit" id="btn_join_game" class="btn">Join Game</div>
                    </a>           
                </div>  
          </div>
        </div>        
        <script src="../assets/js/module.js"></script>
    </body>
</html>