<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | New Game</title>    
        <nav class="navbar" id="navloged">
            <a href="index loged.html" class="link_logo">
                <img class= "logo" src="../assets/imgs/Logo Blanco.png" alt="logo">
            </a>
                <ul class="navbar_items">
                    <li class="navbar_item">
                        <a href="player.html" class="navbar_link">Player</a>
                    </li>
                    <li class="navbar_item">
                        <a href="army.html" class="navbar_link">Army</a>
                    </li>
                    <li class="navbar_item">
                        <a href="territories.html" class="navbar_link">Territories</a>
                    </li>
                    <li class="navbar_item">
                        <a href="start_playing.html" class="navbar_link">Game Session</a>
                    </li>
                </ul>
            <a href="../../index.html"><button class="log_out">Logout</button></a>
        </nav>
    </head>
    <body id="newgamepage">
        <div class="container">
            <p>Create New Session</p>
            
            <div class="flex-box">
                <div class="flex-1">
                    <label for="iuname1" class="iuname1">Username Player 1:</label>
                    <input type="text" placeholder="Invited Player Username" class="input">
                </div>
                <div class="flex-2">
                    <label for="iuname2" class="iuname2">Username Player 2:</label>
                    <input type="text" placeholder="Invited Player Username" class="input">
                </div>
                <div class="flex-3">
                    <label for="iuname3" class="iuname3">Username Player 3:</label>
                    <input type="text" placeholder="Invited Player Username" class="input">
                </div>
                <div class="flex-4">
                    <label for="iuname4" class="iuname4">Username Player 4:</label>
                    <input type="text" placeholder="Invited Player Username" class="input">
                </div>
                <div class="flex-5">
                    <div type="submit" class="btn">Send Invitation</div>           
                </div>  
          </div>
        </div>        
    </body>
</html>