<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | New Game</title>    
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="newgamepage">
        <div class="container">
            <p>Create New Session</p>
            
            <div class="flex-box">
                <div class="flex-1">
                    <label for="iuname1" class="iuname1">Username Player 1:</label>
                    <input type="text" placeholder="Invited Player Username" class="input" id="uname1">
                </div>
                <div class="flex-2">
                    <label for="iuname2" class="iuname2">Username Player 2:</label>
                    <input type="text" placeholder="Invited Player Username" class="input" id ="uname2">
                </div>
                <div class="flex-3">
                    <label for="iuname3" class="iuname3">Username Player 3:</label>
                    <input type="text" placeholder="Invited Player Username" class="input" id = "uname3">
                </div>
                <div class="flex-4">
                    <label for="iuname4" class="iuname4">Username Player 4:</label>
                    <input type="text" placeholder="Invited Player Username" class="input" id="uname4">
                </div>
                <div class="flex-5">
                    <button id="btn_send_invitation" class="btn">Send Invitation</button>  
                </div>  
          </div>
        </div>
        <script src="../assets/js/module.js"></script> 
        <script src="../assets/js/new_game.js"></script> 
    </body>
</html>