<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/rules.css" type="text/css">
    <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
    <title>Katak | Rules</title>
    <nav class="navbar">
        <a href="../../index.html" class="link_logo">
            <img class= "logo" src="../assets/imgs/Logo Blanco.png" alt="logo">
        </a>
            <ul class="navbar_items">
                <li class="navbar_item">
                    <a href="rules.html" class="navbar_link">Rules</a>
                </li>
                <li class="navbar_item">
                    <a href="about.html" class="navbar_link">About Us</a>
                </li>
                <li class="navbar_item">
                    <a href="contact.html" class="navbar_link">Contact Us</a>
                </li>
            </ul>
        <a href="log_in.html"><button class="log_in">Login</button></a>
        <a href="sign_up.html"><button class="sign_up">Sign Up</button></a>
    </nav>
<body class="body_rules">
    <div class="wrapper">
        <div class="sidebar">
            <h2>Rules</h2>
            <ul>
                <li><a href="rules.html" class="general-rules">General Rules</a></li>
                <li><a href="att_n_def.html" class="attack-n-def">Attack and Defense</a></li>
                <li><a href="constr_n_upgrade.html" class="constr">Construction and Upgrades</a></li>
                <li><a href="spec.html" class="spec">Special Weapons</a></li>
                <li><a href="objectives.html" class="objectives">Objectives</a></li>
            </ul> 
        </div>
        <div class="main_content">
            <div class="header">Objectives</div>  
            <div class="info">
                <div class="texto_generalrules">
                    La lista a <strong>objetivos</strong> a repartir son:
                </div>
                <ul class="list_objectives">
                    <li>Ocupar la totalidad de América, tanto norte como sur.</li>
                    <li>Ocupar la totalidad de Europa y África.</li>
                    <li>Ocupar la totalidad de Asia y un territorio a elección.</li>
                    <li>Ocupar la totalidad de África, 3 territorios de Europa y 4 territorios de Asia.</li>
                    <li>Ocupar la totalidad de Oceanía y África, y 3 territorios a elección.</li>
                    <li>Ocupar la totalidad de América del Norte y Oceanía y lanzar una bomba nuclear nivel 10 a un territorio enemigo cualquiera.</li>
                    <li>Eliminar al jugador de color rojo.</li>
                    <li>Eliminar al jugador de color negro.</li>
                    <li>Eliminar al jugador de color azul.</li>
                    <li>Eliminar al jugador de color verde.</li>
                    <li>Eliminar al jugador de color blanco.</li>
                </ul>
                <div class="texto_generalrules">
                    Ganará el juego el primer jugador en cumplir su <strong>objetivo</strong>. En el caso de que más de un jugador cumpla su objetivo al mismo 
                    tiempo o que se llegue al máximo de 15 rondas, ganará el jugador con <strong>mayor</strong> cantidad de territorios.
                </div>
            </div>
        </div>
    </div>   
</body>
</html>