<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        

        <title>Katak | Player</title>    
        <nav loadhtml="navloged" class="navbar"></nav>
    <body id="playerpage">
        <div class="ejercito">
            <p>Player</p>
            <div class="row">
                <div class="column">
                    <dl>
                        <dt>Nombre:<dt>
                            <dd>Borja </dd>
                        <dt>Username:<dt>
                            <dd>bfigueroa1</dd>
                        <dt>Email:<dt>
                            <dd>bfigueroa@uc.cl</dd>
                        <dt>Rango:<dt>
                            <dd>Comandante</dd>
                    </dl>
                </div>
                <div class="column">
                    <img src="../assets/imgs/borja.JPG">
                </div>
            </div>
        </div>
        <script src="../assets/js/module.js"></script>
    </body>
</html>