<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        

        <title>Katak | Player</title>    
        <nav class="navbar"  id="navloged">
            <a href="index loged.html" class="link_logo">
                <img class= "logo" src="../assets/imgs/Logo Blanco.png" alt="logo">
            </a>    
                <ul class="navbar_items">
                    <li class="navbar_item">
                        <a href="player.html" class="navbar_link">Player</a>
                    </li>
                    <li class="navbar_item">
                        <a href="army.html" class="navbar_link">Army</a>
                    </li>
                    <li class="navbar_item">
                        <a href="territories.html" class="navbar_link">Territories</a>
                    </li>
                    <li class="navbar_item">
                        <a href="start_playing.html" class="navbar_link">Game Session</a>
                    </li>
                </ul>
            <a href="../../index.html"><button class="log_out">Logout</button></a>
        </nav>
    </head>
    <body id="playerpage">
        <div class="ejercito">
            <p>Player</p>
            <div class="row">
                <div class="column">
                    <dl>
                        <dt>Nombre:<dt>
                            <dd>Borja </dd>
                        <dt>Username:<dt>
                            <dd>bfigueroa1</dd>
                        <dt>Email:<dt>
                            <dd>bfigueroa@uc.cl</dd>
                        <dt>Rango:<dt>
                            <dd>Comandante</dd>
                    </dl>
                </div>
                <div class="column">
                    <img src="../assets/imgs/borja.JPG">
                </div>
            </div>
        </div>
        
    </body>
</html>