<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">

        

        <title>Katak | Recursos</title>

        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="recursospage">

        <!--Navigation Bar-->
        
        <br/>
        <div class="ejercito">
            <p>Recursos</p>
            <table class="table2">
                <tr>
                    <th>Basicos</th>
                    <td>
                        <table>
                            <tr>
                                <th>Metal:</th>
                                <td id="metal">10</td>
                                <td><img id="jet" src="../assets/imgs/hammer-solid.png"></td>
                            </tr>
                            <tr>
                                <th>Cemento:</th>
                                <td id="cemento">10</td>
                                <td><img id="jet" src="../assets/imgs/wrench-solid.png"></td>
                            </tr>
                            <tr>
                                <th>Alimento:</th>
                                <td id="alimento">10</td>
                                <td><img id="jet" src="../assets/imgs/utensils-solid.png"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <th>Intermedios</th>
                    <td>
                        <table class="table2">
                            <tr>
                                <th>Petroleo:</th>
                                <td id="petroleo">2</td>
                                <td><img id="jet" src="../assets/imgs/gas-pump-solid.png"></td>
                            </tr>
                            <tr>
                                <th>Red:</th>
                                <td id="red">5</td>
                                <td><img id="jet" src="../assets/imgs/wifi-solid.png"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Raros</th>
                    <td>
                        <table class="table2">
                            <tr>
                                <th>Tecnología:</th>
                                <td id="tecnologia">2</td>
                                <td><img id="jet" src="../assets/imgs/laptop-solid.png"></td>
                            </tr>
                        </table>
                    </td>
                
                </tr>
                <script src = "../assets/js/recursos.js"></script>
            </table>
            <div class="shopxterritorios"><a href="shop.html"><button class="shop">Volver a Shop</button></a></div>
            <div class="shopxterritorios"> <a href="territories.html"><button class="territorios">Volver a Territorios</button></a></div>
        </div> 
        <script src="../assets/js/module.js"></script>
    </body>
</html>