<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | Recursos</title>
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="recursospage">

        <div class="ejercito">
            <p>Recursos</p>
                <div class="flex-boxxx">
                    <div class="flexxx-1">
                        <a class="items" href="recursos.html">Básicos</a>
                        <a class="items" href="recursos.html">Intermedios</a>
                        <a class="items" href="recursos.html">Raros</a>
                    </div>
                    <div class="flexxx-2">
                        <h1>Tipo</h1>
                        <h1>Logo</h1>
                        <h1>Cantidad</h1>
                    </div>
                    <div class="flexxx-3">
                        <h1>Metal</h1>
                        <img id="jet" src="../assets/imgs/hammer-solid.png" alt="hammer">
                        <h1>4</h1>
                    </div>
                    <div class="flexxx-4">
                        <h1>Cemento</h1>
                        <img id="jet" src="../assets/imgs/wrench-solid.png" alt="hammer">
                        <h1>5</h1>
                    </div>
                    <div class="flexxx-5">
                        <h1>Alimento</h1>
                        <img id="jet" src="../assets/imgs/utensils-solid.png" alt="hammer">
                        <h1>4</h1>
                    </div>
                    <div class="flexxx-6">
                        <div class="shopxterritorios"><a href="shop.html"><button class="shop">Volver a Shop</button></a></div>
                        <div class="shopxterritorios"> <a href="territories.html"><button class="territorios">Volver a Territorios</button></a></div>
                    </div>
                </div>
        </div> 
        <script src = "../assets/js/recursos.js"></script>
        <script src="../assets/js/module.js"></script>
    </body>
</html>