<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/recursos.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">

        

        <title>Katak | Recursos</title>

        <nav class="navbar">
            <a href="index loged.html" class="link_logo">
                <img class= "logo" src="../assets/imgs/Logo Blanco.png" alt="logo">
            </a>    
                <ul class="navbar_items">
                    <li class="navbar_item">
                        <a href="player.html" class="navbar_link">Player</a>
                    </li>
                    <li class="navbar_item">
                        <a href="army.html" class="navbar_link">Army</a>
                    </li>
                    <li class="navbar_item">
                        <a href="territories.html" class="navbar_link">Territories</a>
                    </li>
                    <li class="navbar_item">
                        <a href="start_playing.html" class="navbar_link">Game Session</a>
                    </li>
                </ul>
            <a href="../../index.html"><button class="log_out">Logout</button></a>
        </nav>
    </head>
    <body ">

        <!--Navigation Bar-->
        
        <br/>
        <div class="ejercito">
            <p>Recursos</p>
            <table class="table2">
                <tr>
                    <th>Basicos</th>
                    <td>
                        <table>
                            <tr>
                                <th>Metal:</th>
                                <td id="metal">10</td>
                                <td><img id="jet" src="../assets/imgs/hammer-solid.png"></td>
                            </tr>
                            <tr>
                                <th>Cemento:</th>
                                <td id="cemento">10</td>
                                <td><img id="jet" src="../assets/imgs/wrench-solid.png"></td>
                            </tr>
                            <tr>
                                <th>Alimento:</th>
                                <td id="alimento">10</td>
                                <td><img id="jet" src="../assets/imgs/utensils-solid.png"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <th>Intermedios</th>
                    <td>
                        <table class="table2">
                            <tr>
                                <th>Petroleo:</th>
                                <td id="petroleo">2</td>
                                <td><img id="jet" src="../assets/imgs/gas-pump-solid.png"></td>
                            </tr>
                            <tr>
                                <th>Red:</th>
                                <td id="red">5</td>
                                <td><img id="jet" src="../assets/imgs/wifi-solid.png"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Raros</th>
                    <td>
                        <table class="table2">
                            <tr>
                                <th>Tecnología:</th>
                                <td id="tecnologia">2</td>
                                <td><img id="jet" src="../assets/imgs/laptop-solid.png"></td>
                            </tr>
                        </table>
                    </td>
                
                </tr>
                <script src = "recursos.js"></script>
            </table>
            <div class="shopxterritorios"><a href="shop.html"><button class="shop">Volver a Shop</button></a></div>
            <div class="shopxterritorios"> <a href="territories.html"><button class="territorios">Volver a Territorios</button></a></div>
        </div> 
        
    </body>
</html>