<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | Recursos</title>
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="recursosinterpage" onload='load_resources()'>

        <div class="ejercito">
            <p>Recursos</p>
                <div class="flex-boxxx">
                    <div class="flexxx-1">
                        <a class="items" href="recursos.html">Básicos</a>
                        <a class="items" href="recursos_inter.html">Intermedios</a>
                        <a class="items" href="recursos_raros.html">Raros</a>
                    </div>
                    <div class="flexxx-2">
                        <h1>Tipo</h1>
                        <h1>Logo</h1>
                        <h1>Cantidad</h1>
                    </div>
                    <div class="flexxx-3">
                        <h1>Petróleo</h1>
                        <img id="petroleo" src="../assets/imgs/gas-pump-solid.png" alt="hammer">
                        <h1 id='PetroleoShow'>9</h1>
                    </div>
                    <div class="flexxx-4">
                        <h1>Red</h1>
                        <img id="jet" src="../assets/imgs/wifi-solid.png" alt="hammer">
                        <h1 id='RedShow'>5</h1>
                    </div>
                    <div class="flexxx-5">
                        <h1>Litio</h1>
                        <img id="jet" src="../assets/imgs/layer-group-solid.svg" alt="hammer">
                        <h1 id='LitioShow'>4</h1>
                    </div>
                    <div class="flexxx-6">
                        <h1>Tribu</h1>
                        <img id="jet" src="../assets/imgs/child-solid.svg" alt="hammer">
                        <h1 id='TribuShow'>7</h1>
                    </div>
                    <div class="flexxx-7">
                        <h1 class="xd">Energía Nuclear</h1>
                        <img id="nuclear" src="../assets/imgs/atom-solid.svg" alt="hammer">
                        <h1 class="xdxd" id='NuclearShow'>7</h1>
                    </div>
                    <div class="flexxx-8">
                        <div class="shopxterritorios"><a href="shop.html"><button class="shop">Volver a Shop</button></a></div>
                        <div class="shopxterritorios"> <a href="territories.html"><button class="territorios">Volver a Territorios</button></a></div>
                    </div>
                </div>
        </div> 
        <script src="../assets/js/module.js"></script>
        <script src = "../assets/js/recursos_inter.js"></script>
    </body>
</html>