<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">

        <title>Katak | Shop</title>
        
        <nav loadhtml="navloged" id="navloged" class="navbar"></nav>
    </head>
    <body id="shoppage">
        <div class="ejercito">
            <p>SHOP</p>
            <div class="flex-boxx">
                <div class="flexx-1">
                    <p>Producto</p>
                    <p>Precio</p>
                    <p>Cantidad</p>
                    <p>Logo</p>
                    <p>Comprar</p>
                </div>            

                <div class="flexx-2">
                    <div>Avion</div>
                    <div>$ 3 metales</div>
                    <div><input type="number" id="cantidad" value="0" min="0" max="5"></div>
                    <div><img id="jet" src="../assets/imgs/Airplane.png"></div>
                    <div><a><button id="btn_av" class="comprar">Comprar</button></a></div>
                </div>

                <div class="flexx-3">
                    <div>Buque</div>
                    <div>$ 3 metales</div>
                    <div><input type="number" id="cantidad" value="0" min="0" max="5"></div>
                    <div><img id="ship" src="../assets/imgs/Ship.png"></i></div>
                    <div><a><button id="btn_bq" class="comprar">Comprar</button></a></div>
                </div>

                <div class="flexx-4">
                    <div>Muralla</div>
                    <div>$ 5 cementos</div>
                    <div><input type="number" id="cantidad" value="0" min="0" max="5"></div>
                    <div><img id="chess" src="../assets/imgs/chess-rook-solid_b.png"></div>
                    <div><a><button id="btn_m" class="comprar">Comprar</button></a></div>
                </div>
                <div class="flexx-5">
                    <div class="recursosxterritorios"><a href="recursos.html"><button class="recursos">Ver Recursos</button></a></div>
                    <div class="recursosxterritorios"><a href="territories.html"><button class="territorios">Volver a Territorios</button></a></div>
                </div>  
                <script src="../assets/js/shop.js"></script>       
        <script src="../assets/js/module.js"></script>
    </body>
</html>