<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/shop.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">

        <title>Katak | Shop</title>
        
        <nav class="navbar">
            <a href="index loged.html" class="link_logo">
                <img class= "logo" src="../assets/imgs/Logo Blanco.png" alt="logo">
            </a>    
                <ul class="navbar_items">
                    <li class="navbar_item">
                        <a href="player.html" class="navbar_link">Player</a>
                    </li>
                    <li class="navbar_item">
                        <a href="army.html" class="navbar_link">Army</a>
                    </li>
                    <li class="navbar_item">
                        <a href="territories.html" class="navbar_link">Territories</a>
                    </li>
                    <li class="navbar_item">
                        <a href="start_playing.html" class="navbar_link">Game Session</a>
                    </li>
                </ul>
            <a href="../../index.html"><button class="log_out">Logout</button></a>
        </nav>
    </head>
    <body>
        <div class="ejercito">
            <p>SHOP</p>
            <table class="table2">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Logo</th>
                    <th>Comprar</th>
                </tr>
                
                <tr>
                    <td>Arma</td>
                    <td id="buy">$ Recursos raros</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="jet" src="../assets/imgs/bomb-solid.png"></td>
                    <td><a><button id="btn_ar" class="comprar">Comprar</button></a></td>
                    
                </tr>
                
                <tr>
                    <td>Avion</td>
                    <td>$ 3 metales</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="jet" src="../assets/imgs/Airplane.png"></td>
                    <td><a><button id="btn_av" class="comprar">Comprar</button></a></td>
                </tr>

                <tr>
                    <td>Buque</td>
                    <td>$ 3 metales</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="ship" src="../assets/imgs/Ship.png"></i></td>
                    <td><a><button id="btn_bq" class="comprar">Comprar</button></a></td>
                </tr>

                <tr>
                    <td>Muralla</td>
                    <td>$ 5 cementos</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="chess" src="../assets/imgs/chess-rook-solid_b.png"></td>
                    <td><a><button id="btn_m" class="comprar">Comprar</button></a></td>
                </tr>   
                <script src="shop.js"></script>
            </table>

            <div>
                <div class="recursosxterritorios"><a href="recursos.html"><button class="recursos">Ver recursos</button></a></div>
                <div class="recursosxterritorios"><a href="territories.html"><button class="territorios">Volver a terrorios</button></a></div>
            </div>
        </div>        
        
    </body>
</html>