<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">

        <title>Katak | Shop</title>
        
        <nav loadhtml="navloged" id="navloged" class="navbar"></nav>
    </head>
    <body id="shoppage">
        <div class="ejercito">
            <p>SHOP</p>
            <table class="table2">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Logo</th>
                    <th>Comprar</th>
                </tr>
                
                <tr>
                    <td>Arma</td>
                    <td id="buy">$ Recursos raros</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="jet" src="../assets/imgs/bomb-solid.png"></td>
                    <td><a><button id="btn_ar" class="comprar">Comprar</button></a></td>
                    
                </tr>
                
                <tr>
                    <td>Avion</td>
                    <td>$ 3 metales</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="jet" src="../assets/imgs/Airplane.png"></td>
                    <td><a><button id="btn_av" class="comprar">Comprar</button></a></td>
                </tr>

                <tr>
                    <td>Buque</td>
                    <td>$ 3 metales</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="ship" src="../assets/imgs/Ship.png"></i></td>
                    <td><a><button id="btn_bq" class="comprar">Comprar</button></a></td>
                </tr>

                <tr>
                    <td>Muralla</td>
                    <td>$ 5 cementos</td>
                    <td><input type="number" id="cantidad" value="0" min="0" max="5"></td>
                    <td><img id="chess" src="../assets/imgs/chess-rook-solid_b.png"></td>
                    <td><a><button id="btn_m" class="comprar">Comprar</button></a></td>
                </tr>   
                <script src="../assets/js/shop.js"></script>
            </table>

            <div>
                <div class="recursosxterritorios"><a href="recursos.html"><button class="recursos">Ver recursos</button></a></div>
                <div class="recursosxterritorios"><a href="territories.html"><button class="territorios">Volver a terrorios</button></a></div>
            </div>
        </div>        
        <script src="../assets/js/module.js"></script>
    </body>
</html>