<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
        <title>Katak | Game Session</title>    
        <nav loadhtml="navloged" id="navloged" class="navbar"></nav>
    </head>
    <body id="startplayingpage">
        <div class="container">
            <p>Start Playing</p>

            <img class= "logo-negro" src="../assets/imgs/Logo Negro.png" alt="logo">
            <br>

            <div class="flex-box">
                <a href="join_game.html">Join Game Session</a>
                <a href="new_game.html">Create New Session</a>
            </div>
        </div>        
        <script src="../assets/js/module.js"></script>
    </body>
</html>