<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
            
        <title>Katak | Territories</title>
        <nav loadhtml="navloged" id="navloged" class="navbar"></nav>
    </head>
    <body id="territoriespage">
        <div class="ejercito">
            <p>Territories Information</p>
            <div id="slider">
                <div id="slides">
                    <table class="table2">
                        <tr>
                            <th>Nombre:</th>
                            <td>Egipto</td>
                        </tr>
                        <tr>
                            <th>Continente:</th>
                            <td>Africa</td>
                        </tr>
                        <tr>
                            <th>Tropas:</th>
                            <td><img id="chess" src="../assets/imgs/chess-bishop-solid.png"></td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th>Aviones:</th>
                            <td><img id="jet" src="../assets/imgs/fighter-jet-solid.png"></td>
                            <td>0</td>
                            
                        </tr>
                        <tr>
                            <th>Buques:</th>
                            <td><img id="ship" src="../assets/imgs/ship-solid.png"></td>
                            <td>0</td>
                        </tr>    
                    </table>
                    <div>
                        <a href="shop.html"><button class="shop">Shop</button></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../assets/js/module.js"></script>
        <script src="../assets/js/territories.js"></script>
    </body>
</html>










