<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
            
        <title>Katak | Territories</title>
        <nav loadhtml="navloged" id="navloged" class="navbar"></nav>
    </head>
    <body id="territoriespage">
        <div class="ejercito">
            <p>Territories Information</p>
            <div class="flex1">
                <img src="../assets/imgs/chevron-left-solid.svg" alt="left arrow">
            </div>
            <div class="flex2">
                <div class="flex21">
                    <h2>Nombre:</h2>
                    <h2>Egipto</h2>
                </div>
                <div class="flex22">
                    <th>Continente:</th>
                    <td>Africa</td>
                </div>
                <div class="flex23">
                    <th>Tropas:</th>
                    <td><img id="chess" src="../assets/imgs/chess-bishop-solid.png"></td>
                    <td>5</td>
                </div>
                <div class="flex24">
                    <th>Aviones:</th>
                    <td><img id="jet" src="../assets/imgs/fighter-jet-solid.png"></td>
                    <td>0</td>
                    
                </div>
                <div class="flex 25">
                    <th>Buques:</th>
                    <td><img id="ship" src="../assets/imgs/ship-solid.png"></td>
                    <td>0</td>
                </div>    
            </div>
            <div class="flex3"></div>
            <div class="flex4">
                <a href="shop.html"><button class="shop">Shop</button></a>
            </div>
        </div>
        <script src="../assets/js/module.js"></script>
        <script src="../assets/js/territories.js"></script>
    </body>
</html>










