<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/Logo Arena.png" type="image/png">
            
        <title>Katak | Territories</title>
        <nav loadhtml="navloged" id="navloged" class="navbar"></nav>
    </head>
    <body id="territoriespage">
        <div class="ejercito">
            <p>Territories Information</p>
            <div class="flexbox">
            <div class="flex1">
                <img src="../assets/imgs/chevron-left-solid.svg" height=100rem alt="left arrow" id="left">
            </div>
            <div class="flex2">
                <div class="flex21">
                    <div id="nombre_territorio" >Nombre: Egipto</div>
                </div>
                <div class="flex22">
                    <div id="continente_territorio" >Continente: Africa</div>
                </div>
                <div class="flex23">
                    <div><img id="chess" src="../assets/imgs/chess-bishop-solid.svg"></div>
                    <div id="tropas_territorio">Tropas: 5</div>
                </div>
                <div class="flex24">
                    <div><img id="jet" src="../assets/imgs/fighter-jet-solid.svg"></div>
                    <div id="aviones_territorio">Aviones: 0</div>
                    
                </div>
                <div class="flex 25">
                    <div><img id="ship" src="../assets/imgs/ship-solid.svg"></div>
                    <div id="buques_territorio">Buques: 0</div>
                </div>    
            </div>
            <div class="flex3">
                <img src="../assets/imgs/chevron-right-solid.svg" height=100rem alt="" id="right">
            </div>
        </div>
            <div class="flex4">
                <a href="shop.html"><button class="shop">Shop</button></a>
            </div>
        
        </div>
        <script src="../assets/js/module.js"></script>
        <script src="../assets/js/territories.js"></script>
    </body>
</html>










