@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Navbar CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.7rem;
   background-color: rgb(222, 159, 59);
   position: fixed;
   top: 0;
   width: 100%;
   box-shadow: 0 0 20px rgba(72,98,85, 0.6);
}

.logo{
   width: 4rem;
   height: 5rem;
}

.link_logo { 
   margin-right: 40rem;
}

.navbar_items{
   list-style: none;
}

.navbar_item{
   display: inline-block;
   padding: 0px 20px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}

.navbar_link,
.navbar_link:link,
.navbar_link:visited{
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 1rem;
   color: #edf0f1;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
}

.navbar_link:hover{
   color: black;
   transform: scale(1.2);
} 
 
.log_out{
   margin-left: 20px;
   padding: 9px 25px;
   background-color: rgba(0, 136, 169, 1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}


.log_out:hover{
   background-color: rgba(0, 136, 169, 0.8);
}

/* End of Navbar CSS */

/* Join Game CSS*/

body{
    background-color: beige;
    background-size: cover;
    height: auto;
    font-family: "Montserrat", sans-serif;;
}
  
  
.container{
    max-width: 80%;
    height: 70%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    margin-top: 10.5rem;
}
  
p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #DC7633;
}


.input{
    width: 25rem;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}

.flex-box{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; 
}

@media screen and (min-width: 801px) {
  div.flex-box {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  div.flex-box {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  div.flex-box {
    font-size: 3px;
  }
}

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em;
  border: solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.uname1{
	color: #ACA71E;
}

.uname2{
	color: #AB1A17;
}

.uname3{
	color: #AD4E8C;
}

.uname4{
	color: #26378C;
}

.uname5{
	color: #46AC35;
}

.gcode{
    padding: 1rem;
    width: 118px;
}

.btn{
    width: 250px;
    background-color: rgba(0, 136, 169, 1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
  
.input:focus{
    border: 2px solid #486255;
}
  
::-webkit-input-placeholder{
    font-family: 'Montserrat', sans-serif;
}


.mapa{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	margin-top: 2%;
	/* width: 60%;
	height: 50%;
	top: 30%; */
	stroke: black;
	background-color: #657BBC;
}

.mapa path{
	pointer-events: all;
}



.vladivostok:hover path, .chile-bolivia-peru-ecuador:hover path, .el-congo:hover path, .africa-del-sur:hover path, 
.egipto:hover path, .japon:hover path, .nueva-york:hover path, .vietnam:hover path, .alaska:hover path,
.moscu:hover path, .suecia:hover path, .sudan:hover path, .brasil:hover path, .labrador:hover path, 
.vancouver:hover path, .borneo:hover path, .australia:hover path, .sumatra:hover path, .dudinka:hover path, 
.mexico:hover path, .groenlandia:hover path, .madagascar:hover path, .india:hover path, .argelia-nigeria:hover path, 
.china:hover path, .tchita:hover path, .inglaterra:hover path, .omsk:hover path, .california:hover path, 
.ottawa:hover path, .mongolia:hover path, .siberia:hover path, .aral:hover path, .medio-oriente:hover path,
.mackenzie:hover path, .argentina-paraguay-uruguay:hover path, .polonia-yugoeslavia:hover path, .alemania:hover path,
.espana-francia-italia:hover path, .colombia-venezuela:hover path, .islandia:hover path, .nueva-guinea:hover path {
    fill: #060606;
}


/*.asia{
	fill:#ACA71E;
}

.anorte{
	fill:#AB1A17;
}

.asur{
	fill:#26378C;
}

.oceania{
	fill:#AD4E8C;
}

.europa{
	fill:#3E98AA;
}

.africa{
	fill:#46AC35;
}*/

/*countries classes: vladivostok, japon, vietnam, siberia, dudinka, medio-oriente, omsk, aral, china, india,
tchita, mongolia, alaska, mackenzie, vancouver, groenlandia, nueva-york, california, ottawa, labrador,
mexico, chile-bolivia-peru-ecuador, argentina-paraguay-uruguay, brasil, colombia-venezuela, nueva-guinea, 
borneo, sumatra, australia, inglaterra, moscu, suecia, islandia, alemania, espana-francia-italia,
polonia-yugoeslavia, sudan, el-congo, africa-del-sur, argelia-nigeria, madagascar, egipto */

.vladivostok path, .chile-bolivia-peru-ecuador path, .el-congo path, .africa-del-sur path, .egipto path,
.japon path, .nueva-york path, .colombia-venezuela path {
	fill: #ACA71E;
}

.vietnam path, .alaska path, .moscu path, .suecia path, .sudan path, .brasil path, .labrador path, 
.vancouver path, .espana-francia-italia path {
	fill: #AB1A17;
}

.borneo path, .australia path, .sumatra path, .dudinka path, .mexico path, .groenlandia path, 
.madagascar path, .india path, .islandia path {
	fill: #AD4E8C;
}

.argelia-nigeria path, .china path, .tchita path, .inglaterra path, .omsk path, .california path, 
.ottawa path, .nueva-guinea path {
	fill: #26378C;
}

.mongolia path, .siberia path, .aral path, .medio-oriente path, .mackenzie path, 
.argentina-paraguay-uruguay path, .polonia-yugoeslavia path, .alemania path {
	fill: #46AC35;
}


/* Hover Menu */
.vladivostok-box{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column; 
} 

.flex-vladivostok{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em;
  border: solid;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-align: center;
}

.flex-vladivostok g{
	margin: auto;
}

.war-icon{
	width: 25px;
}

@media screen and (max-width: 700px) {
  div.vladivostok-box {
    font-size: 10px;
  }
  img.war-icon{
  	width: 10px;
  }
}

.territory-name{
	font-weight: bold;
}