/* Shop CSS*/


body#shoppage{
  background-color: beige;
  background-size: cover;
  height: auto;
  font-family: "Montserrat", sans-serif;  
}

#shoppage{
  
  .ejercito {
    border-radius: 0.313rem;
    max-width: 50rem;
    height: 45rem;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    margin-top: 4em;
   
  }
  
  p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 20px;
    color: #486255;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #DC7633;
  }
  
  .comprar{
    width: 150px;
    background-color: rgba(0, 136, 169, 1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: none;
  }
  .comprar:hover{
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  .recursos{
    width: 150px;
    background-color: rgba(0, 136, 169, 1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-align: center;
  }
  
  .recursos:hover, 
  .territorios:hover{
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  .territorios{
    width: 150px;
    background-color: rgba(0, 136, 169, 1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-align: center;
  }
  
  .flex-boxx{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .flexx-1,
  .flexx-2,
  .flexx-3,
  .flexx-4,
  .flexx-5{
      display: flex;
      flex-direction: row;
      align-items: baseline;
  }
  
  .flexx-1{
      p{
        font-size: 1.8rem;
        margin: 0.5rem;
      }
  }

  .flexx-2,
  .flexx-3,
  .flexx-4,
  .flexx-5{
      div{
        margin: 1.5rem;
      }
  }


  input[type="number"] {
    width:1.5 rem;
    font-size: large;
  }
  
  #chess {
    width: 60px;
    
  }
  
  #jet {
    width: 90px;
    
  }
  
  #ship {
    width: 80px;
    
  }
}  
