* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "navbar.scss"; // don't move this down
@import "about.scss";
@import "rules.scss";
@import "contact.scss";
@import "log_in.scss";
@import "sign_up.scss";
@import "player.scss";
@import "index loged.scss";
@import "army.scss";
@import "territories.scss";
@import "start_playing.scss";
@import "shop.scss";
@import "recursos.scss";
@import "recursos_inter.scss";
@import "recursos_raros.scss";
@import "join_game.scss";
@import "map.scss";
@import "new_game.scss";
@import "game_ended.scss";
@import "main loged.scss";

// pay attention to the order of these lines